
@model SchoolProject_W2022.Models.Class
@{
    ViewBag.Title = "Show";
}

<a class="navlink" href="/Class/List">Back To Classes' List</a>

<div id="containershow">
    <h2>@Model.ClassName</h2>
    <p>Class Code: @Model.ClassCode</p>
    <p>Teacher Name: @Model.TeacherName</p>
    <p>Start Date: @Model.StartDate.ToString("dd-MMM-yyyy")</p>
    <p>Finish Date: @Model.FinishDate.ToString("dd-MMM-yyyy")</p>
</div>

